    {% load static %}
    <!---footer start-->
    <div class="row mt-3 bg-warning-subtle">
        <div class="col-md-4 bg-warning-subtle">
            <h5>Address</h5>
            <hr>
            2nd Floor Hiranandani Estate <br>
            Mumbai Powai-4000215
            <p>
              <i class="bi bi-telephone-fill text-danger"></i>&nbsp;9865656565
            </p>
            <p>
              <i class="bi bi-envelope text-danger"></i>&nbsp;customer@gmail.com
            </p>
        </div>

        <div class="col-md-4">
            <h5>Quick Links</h5>
            <hr>
            <p><a href="/home" class="anchor">Home</a></p>
            <p><a href="/about" class="anchor">About Us</a></p>
            <p><a href="/viewcart" class="anchor">Cart</a></p>
            <p><a href="/contact" class="anchor">Contact</a></p>
        </div>

        <div class="col-md-4">
            <h5>Contact Us</h5>
            <hr>
            <h5><a href="http://www.facebook.com"></a><i class="bi bi-facebook text-danger"></i></h5>
            <h5><a href="http://www.instagram.com"></a><i class="bi bi-instagram text-danger"></i></h5>
            
            <h5><a href="http://www.twitter.com"></a><i class="bi bi-twitter text-danger"></i></h5>
            
            <h5><a href="http://www.bi-linkedin.com"></a><i class="bi bi-linkedin text-danger"></i></h5>
        </div>

    </div><!--footer ends-->

</div>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
</body>
</html>