{% extends 'base.html' %}

{%  load static %}

{% block 'main' %}
<div class="row mt-3">
    <div class="col-md-4 bg-secondary p-3">
        <h5 class="text-warning">Filter by Category</h5>
        <hr>
        <p><a class="anchor text-black" href="/home">All</a></p>
        <p><a class="anchor text-black" href="/catfilter/1">By Mobile</a></p>
        <p><a class="anchor text-black" href="/catfilter/2">By Shoes</a></p>
        <p><a class="anchor text-black" href="/catfilter/3">By Cloths</a></p>

        <h5 class="text-warning">Filter By Price-Range</h5>
        <hr>
        <form action="/range">

            <div class="mb-3">
            <label for="input1" class="form-label">Min-Value</label>
            <input type="number" name="min" class="form-control" id="input1" placeholder="Enter min value">
          </div>
          <div class="mb-3">
            <label for="input2" class="form-label">Max-Value</label>
            <input type="number" name="max" class="form-control" id="input2" placeholder="Enter Max-Value value">
          </div>
          <div class="mb-3">
            <input type="submit" class="btn btn-danger" value="search">
          </div>
        </form>
        <h5 class="text-warning">Sort By Price</h5>
        <hr>
        <p><a class="anchor text-black" href="/sort/0">Low to High</a></p>
        <p><a class="anchor text-black" href="/sort/1">High to low</a></p>
    </div><!--filter side bar end-->

    <div class="col-md-8">
        <div class="row">
          {% for x in products %}
            <div class="col-md-4 mt-2">
                <div class="card" style="width: 100%;">
                    <img src="{{x.pimage.url}}" class="card-img-top" width="100%" height="250px" alt="...">

                    <div class="card-body">
                      <h5 class="card-title">{{x.name}}</h5>
                      <p class="card-text">{{x.price}}</p>
                      {% if x.cat == 1 %}
                      <p class="card-text">Mobile</p>
                      {% elif x.cat == 2 %}
                      <p class="card-text">shoes</p>
                      {%  else %}
                      <p class="card-text">Cloths</p>
                       {% endif %}
                      <a href="/pdetails/{{x.id}}" class="btn btn-danger">See Details</a>
                    </div>
                  </div>
      
                </div><!--prod-1 ends-->
                {% endfor %}
                
               </div><!--products ends-->

</div><!--filters and product end-->

{% endblock 'main' %}