{% extends 'base.html' %}

{% load static %}

{% block 'main' %}

<!----Main start-->

<div class="row mt-3 mx-auto">
    {% for x in products %}
    <div class="col-md-6 mt-5">
        <img src="{{x.pimage.url}}" width="100%" height="250" alt="">

    </div>
    <div class="col-md-6 mt-5">
        {% if success %}
          <div class="alert alert-success">{{success}}</div>
         {% endif %}
        
         {% if msg %}
          <div class="alert alert-danger">{{msg}}</div>
         {% endif %}
         <br>
          
         
        <p><strong>Product Name:</strong>&nbsp;&nbsp;{{x.name}}</p>
        
        <p><strong>Price:</strong>&nbsp;&nbsp;{{x.price}}</p>
        {% if x.cat == 1 %}
        <p><strong> Category:</strong>&nbsp;&nbsp;Mobile</p>
        {% elif x.cat == 2 %}
        <p><strong> Category:</strong>&nbsp;&nbsp;Shoes</p>
        {% else %}
        <p><strong>Category:</strong>&nbsp;&nbsp;Cloths</p>
        {% endif %}

        <p><strong> Product description:</strong>&nbsp;&nbsp;{{x.pdetails}}</p>
        <br>    
        <a href="/addtocart/{{x.id}}"><button class="btn btn-danger">Add to cart</button></a>&nbsp;&nbsp;
        
        <a href="/viewcart"><button class="btn btn-danger">View cart</button></a>&nbsp;&nbsp;
        
        <a href="/home"><button class="btn btn-danger">Shop More</button></a>&nbsp;&nbsp;
</div>

    {% endfor %}
</div>

<!---Main ends-->


{% endblock 'main' %}